*.apk
*.img
*.txt
*.zip
backup*/
.claude/
AGENTS.md
CLAUDE.md
__pycache__/
bin/ltbox/settings.json
bin/python3/
bin/tools/
desktop.ini
get-pip.py
image/
input*/
log/
output*/
working/
