[submodule "vendor/qdlrs"]
	path = vendor/qdlrs
	url = https://github.com/qualcomm/qdlrs.git
[submodule "vendor/avb"]
	path = vendor/avb
	url = https://android.googlesource.com/platform/external/avb
	branch = refs/heads/main-kernel
[submodule "vendor/update_engine"]
	path = vendor/update_engine
	url = https://android.googlesource.com/platform/system/update_engine
	branch = android16-qpr2-release
